/* Extra LARGE Screens */
@media (min-width:992px) {
    /* Projects*/
    .overlay-card .common-heading {
        font-size: 20px;
    }
}

/* LARGE Screens */
@media (max-width:992px) {

    .overlay-card .card-caption {
        font-size: 8px;
        line-height: 12px;
        letter-spacing: normal;
    }

    .project-card .common-Button {
        height: 20px;
        width: 80px !important;
        margin: 2px;
        font-size: 0.5rem;
        font-weight: 800
    }

    .overlay-card .common-heading {
        font-size: 15px;
        padding-top: 10px !important;
    }

    .contact-left-container .contact-info {
        font-size: 20px !important;
    }
}

/* Medium Screens */
@media (max-width:768px) {
    .header-section-content h1 {
        font-size: 2.5rem;
    }
    .social-media-hide {
        display: none;
        text-align: left;
    }

    /* CONTACT */
    .contact-left-container .contact-info {
        font-size: 17px !important;
    }

    .contact-left-container {
        margin-bottom: 50px;
    }
}

/* SMALL Screens */
@media (max-width:576px) {
    .common-heading{
        font-size: 2rem;
    }
    .resume-heading{
        font-size: 1.5rem;
    }
    .resume-second-heading{
        font-size: 1.2rem;
    }
    /*SKILLS*/
    .skills-container  skill-content{
        font-size: 13px !important;
        text-align: justify !important;
    }
    .skills-container .skill-h{
        font-size: 12px;
    }
    .progress{
        height: 6px !important;
    }
}